.iconGp span{
    padding-top: 10px;
}
/* hover icons */
span:hover {
    color: #555;
  }
span:visited {
    color: red;
  }
span:active {
    color: yellow;
  }

#POST{
    padding-top: 55px;
}

  .logo{
      object-fit: contain;
      height: 45px;
  }

  .slide .pImg .p{
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
  }

 .slide .pImg p{
    font-size: 12px;
    text-align: center;
  }

  

  .profile{
    height: 40px;
    width: 40px;
    margin-top: 5px;
    margin-left: 15px;
    border: #555;
    border-radius: 50px;
}

.name{
    padding-left: 15px;
}

.cardBody img{
    background-size:100%;
    height: 70vh;
    width:40vw;
}

.slide::-webkit-scrollbar { 
    width: 0;
}
.slide {
    margin-right: 1rem;
  }

.card1{
    border-bottom:#555 2rem ;
    margin-bottom: 15rem;
}

.rightBlock span{
    margin-top: 10px;
    margin-right: 10px;
}

.cardBody{
    position: relative;
}

.vol{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
}
